    .circle
	{
		position: absolute;
		width: 100px;
		height: 100px;
		left: 259px;
        bottom: -88px;
        top: 88px;
		border-radius: 50%;
	}
	.circle:before
	{
		content: '';
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		border-radius: 50%;
		box-shadow: 0 0 0 10px #333,
		            0 0 0 20px #444,
		            0 0 0 30px #555,
		            0 0 0 40px #666,
		            0 0 0 50px #777,
		            inset 0 0 40px rgba(0,0,0,0.5);

	}
	.dots
	{
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 10px;
		border-radius: 50%;
		animation: animate 10s linear infinite;

	}
	.dots:before
	{
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		background: #fff;
		border-radius: 50%;
		left: calc(50% - 5px);
		top: 0;
		box-shadow:  50px 0 0 #900C3F,
		            -65px -50px 0 #900C3F,
		            -65px  50px 0 #900C3F,
		            -55px   0px 0 #7D2626,
		             45px  35px 0 #7D2626,
		            -40px -40px 0 #7D2626,
		             40px -40px 0 #145AA0,
		            -55px -59px 0 #145AA0; 
		animation: animate 10s linear infinite;
	}
	.dots:after
	{
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		background: #fff;
		border-radius: 50%;
		left: calc(50% - 5px);
		bottom: 0;
		box-shadow:  -50px 0 0 #145AA0,
		             65px  50px 0 #145AA0,
		             65px  -50px 0 #145AA0,
		             55px   0px 0 #7D2626,
		            -45px -35px 0 #7D2626,
		             40px  40px 0 #7D2626,
		            -40px  40px 0 #145AA0,
		             55px  59px 0 #145AA0;
	    animation: animate 10s linear infinite;
	}
	@keyframes animate 
	{
		0%
		{
			transform: rotate(0deg);
		}
		100%
		{
			transform: rotate(360deg);
		}
	}